$lightbluec: #07B6E5;

.login-show-mgr-logo {
  max-width:100%;
  max-height:100%;
  width: 100%;
  height: 100px;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}
.login-show-mgr-logo-background{
  background-image:url('/resources/icons/headerbackground.png');
  background-repeat:repeat-x;
  max-height:100%;
  height: 100px;
  padding-top: -10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.login-need-help-button{
  text-decoration:underline;
  background: none !important;
  background-color: none !important;
  border-color: none !important;
  border-style: none !important;
  color: #7E7E7E !important;
}

.login-company-button{
  color:#2B36FC;
  width:100%;
  height:100%;
  padding: 0;
  border: none;
  background: none;
}

.login-company-label {
  color:#068aad;
}

#login .login-remember-me-toggle{
  color:#2B36FC;
  width:100%;
  height:100%;
  padding: 0;
  border: none;
  background: none;
}

#login .x-toggle-on{
  background-color:$lightbluec;
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $lightbluec), color-stop(100%, $lightbluec), color-stop(100%, $lightbluec), color-stop(100%, $lightbluec));
  background-image:-webkit-linear-gradient($lightbluec,$lightbluec 100%,$lightbluec 100%,$lightbluec);
  background-image:linear-gradient($lightbluec,$lightbluec 100%,$lightbluec 100%,$lightbluec);
}

#login .x-toggle-inner{
  float: right;
}

#login .x-size-monitored{
  float: right;
}
