.login-show-mgr-logo {
  max-width:100%;
  max-height:100%;
  width: 100%;
  height: 100px;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}
.login-show-mgr-logo-background{
  background-image:url('/resources/icons/headerbackground.png');
  background-repeat:repeat-x;
  max-height:100%;
  height: 100px;
  padding-top: -10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
}

.login-button{
  background:#BF1B19;
  color:white;
  height:48px;
  margin-left: 9px;
  margin-right: 9px;
}

.login-need-help-button{
  color:#1F1F1F;
  padding: 0;
  border: none;
  background: none;
  text-decoration:underline;
  position: absolute;
  bottom: 0;
  left:50%;
  margin-left:-40px;
}

.login-container {
  background:#383838;
  min-width: 100px;
}

.login-company-button{
  color:#2B36FC;
  width:100%;
  height:100%;
  padding: 0;
  border: none;
  background: none;
}

.login-company-label {
  color:#068aad;
}

#login .login-remember-me-toggle{
  color:#2B36FC;
  width:100%;
  height:100%;
  padding: 0;
  border: none;
  background: none;
}

#login .x-toggle-on{
  background-color:#07B6E5;
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #07B6E5), color-stop(100%, #07B6E5), color-stop(100%, #07B6E5), color-stop(100%, #07B6E5));
  background-image:-webkit-linear-gradient(#07B6E5,#07B6E5 100%,#07B6E5 100%,#07B6E5);
  background-image:linear-gradient(#07B6E5,#07B6E5 100%,#07B6E5 100%,#07B6E5)

}

#login .x-toggle-inner{
  float: right;
}

#login .x-size-monitored{
  float: right;
}
