$defaultgray: #383838;
$defaultred: #BF1B19;

.show-mgr-button{
  background:#BF1B19;
  color:white;
  height:48px;
  margin-left: 9px;
  margin-right: 9px;
}

.show-mgr-toolbar-button{
  background:#8A0808 !important;
  background-color:#8A0808 !important
}

.show-mgr-label {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.show-mgr-container {
  background: $defaultgray;
  min-width: 100px;
}

.show-mrg-toolbar {
  background: $defaultred;
}

.bold-thick {
  font-weight:bold;
}