$defaultgray: #383838;
$defaultred: #BF1B19;

.show-mgr-button{
  background:#BF1B19;
  color:white;
  height:48px;
  margin-left: 9px;
  margin-right: 9px;
}

.show-mgr-toolbar-button{
  background:#8A0808 !important;
  background-color:#8A0808 !important
}

.show-mgr-label {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.main-container{
  background: $defaultgray;
  min-height:100%;
  position:relative;
}

.header-container {
  position:fixed;
  z-index:10;
  top:0;
  width: 100%;
}

.body-container{
}

.footer-container {
  position:fixed;
  z-index:0;
  bottom:0;
  width:100%;
}

.show-mrg-toolbar {
  background: $defaultred;
}

.bold-thick {
  font-weight:bold;
}

.bottom-container{
  height: 100%;
  position: relative;
}

.show-mgr-clear-toolbar{
  background: none !important;
  background-color: none !important;
  border-color: none !important;
  border-style: none !important;
  border: none;
  hideBorders: true;
}
